<div class="about-container">
    <h2>About Me</h2>
    <div class="about-text">
        <p>I am a first-year graduate student in the Operations, Information and Decisions Department at The Wharton School. I am primarily interested in empirical and data-driven research, focussed on healthcare operations.</p>
        <p>I completed my undergraduate studies at Queen’s University majoring in Computer Science with a specialization in Biomedical Computing. I graduated in 2023 with honors in the major. As an undergrad, I worked in the Queen’s Cancer Research Institute as a research assistant, working in both the Berman and Simpson Labs. My research primarily focussed on identifying predictive immune biomarkers for Non-Muscle Invasive Bladder Cancer (NMIBC). During my undergraduate thesis, I worked on translating spatial-clustering algorithms developed for geoscience research for use in extracting interpretable features from multiplex immunofluorescence images of NMIBC that could be used as predictive biomarkers.</p>
        <p>Under the supervision of Prof. Hossein Abouee-Mehrizi, I received my master’s degree in Management Science and Engineering from the University of Waterloo in 2024. While completing my master’s, I worked on data-driven research relating to the operations of a large pediatric outpatient rehabilitation network in Southwestern Ontario.</p>
    </div>
</div>