<div class="contact-container">
    <h4>Get In Touch</h2>
    <p>If you would like to get in touch, feel free to reach out to me via email.</p>
    <a href="mailto:bravensc@wharton.upenn.edu" class='cta-btn'>Email Me</a>
</div>