<hr />
<div class="footer-container">
    <p>© 2025 Benjamin Ravenscroft</p>
    <div class="social_icons">
        <a
            href="https://www.linkedin.com/in/benjaminravenscroft/"
            aria-label="LinkedIn"
            target="_blank"
            rel="noopener noreferrer"
        >
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</div>