<div class="hero-container">
    <div class="hero-text">
        <ul color=white>
            <li> PhD @ The Wharton School, University of Pennsylvania (est. 2030)
                <ul>
                    <li>Operations, Information and Decisions Department</li>
                </ul>
            </li>
            <li> M.ASc. @ University of Waterloo (2025) </li>
            <li> B.Comp. @ Queen's University (2023) </li>
        </ul>
        <br>
        <br>
        <h3><a href="/about/">&#8594; More on About</a></h3>
    </div>
    <img src="/assets/profile.jpg" alt="Hero Image" class="profile-img" />
</div>