<div class="hero-container">
    <img src="/assets/profile.jpg" alt="Ben's personal headshot" class="profile-img" />
    <div class="hero-text">
        <h1>Benjamin Ravenscroft</h1>
        <h3>PhD Candidate</h3>
        <h3>The Wharton School,</h3>
        <h3>University of Pennsylvania</h3>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/benjaminravenscroft/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>