<div class="nav-container">
    <div class="logo">
        <a href="/">
            Benjamin Ravenscroft
        </a>
    </div>
    <div class="nav">
        <a href="/" class="link">&#127969; Home</a>
        <a href="/research/" class="link">&#128196; Research</a>
        <a href="/teaching/" class="link">&#128218; Teaching</a>
        <a href="/about/" class="link">&#128100; About</a>
        {# <a href="/assets/CV_BR.pdf" download="Benjamin_Ravenscroft_CV.pdf" class="link">&#128100; CV</a> #}
    </div>
</div>