<div class="nav-container">
    <div class="logo">
        <a href="/">
            Benjamin Ravenscroft
        </a>
    </div>
    <div class="nav">
        <a href="/research/" class="link">Research</a>
        <a href="/presentations/" class="link">Presentations</a>
        <a href="/teaching/" class="link">Teaching</a>
        <a href="/assets/CV_BR.pdf" download="Benjamin_Ravenscroft_CV.pdf" class="link">CV</a>
    </div>
</div>