<div class="research-container">
    <h2>Journal Articles</h2>
    <hr />
    {% for article in journalArticles %}
        <div class="article-container">
            <h3><a href="{{ article.link}}" target="_blank">{{ article.title }}</a></h3>
            <p>{{ article.authors }}<p>
            <p><strong>{{ article.journal }}</strong>, ({{article.year }})</p>
            {% if (article.awards | length) > 0 %}
                {% for award in article.awards %}
                    <p class="award">{{ award }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class="research-container">
    <h2>Working Papers</h2>
    <hr />
    {% for paper in workingPapers %}
        <div class="article-container">
            <h3>{{ paper.title }}</h3>
            <p>{{ paper.authors }}</p>
            {% if (paper.awards | length) > 0 %}
                {% for award in paper.awards %}
                    <p class="award">{{ award }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>

<div class="research-container">
    <h2>Inactive Drafts</h2>
    <hr />
    {% for draft in inactiveDrafts %}
        <div class="article-container">
            <h3><a href="{{ draft.link }}" target="_blank">{{ draft.title }}</a></h3>
            <p>{{ draft.authors }}</p>
        </div>
    {% endfor %}
</div>